<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, 
						initial-scale=1.0">
	<title>GeeksforGeeks</title>
	<link rel="stylesheet"
		href="assets/auth.css">
</head>

<body>
	<header>\
		<img src="assets/logo.png" alt="logo" />
		<h1 class="heading">GeeksforGeeks</h1>
		<h3 class="title">Sliding Login & Registration Form</h3>
	</header>

	<!-- container div -->
	<div class="container">
		<div class="form-container sign-up-container">
			<form action="/sign_up" method="post">
				<h1>Create an Account</h1>
				<input type="text" name="username" placeholder="Username" />
				<input type="email" class="email" placeholder="Email">
				<input type="password" class="password" id="password" placeholder="Password">
				<input type="password" class="password" id="confirm_password" placeholder="Confirm Password">
				<button type="submit" class="btn">Sign Up</button>
			</form>
		</div>	
	</div> 
	<script src="assets/auth.js"></script>
</body>
</html>
